@import "tailwindcss";

@font-face {
  font-family: "Barbra";
  src: url("/fonts/Barbra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fff7ed;
  --foreground: #6e8e63;
  --text: #222222;
}

/* BOUNCING TEXT */
@keyframes letter-flip-bounce {
  0% {
    transform: translateY(0) rotateY(0deg);
  }

  40% {
    transform: translateY(-8px) rotateY(0deg);
  }

  70% {
    transform: translateY(0) rotateY(180deg);
  }

  100% {
    transform: translateY(0) rotateY(360deg);
  }
}

.name-letter {
  display: inline-block;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.name-hover:hover .name-letter {
  animation: letter-flip-bounce 0.9s ease forwards;
  animation-delay: calc(var(--d) + 0.2s);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --font-sans: var(--font-spectral);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-spectral), serif;
}

h1,
h2,
h3,
h4 {
  color: var(--foreground);
  font-family: var(--font-eb-garamond);
}

.highlight {
  background-color: rgba(110, 142, 99, 0.2);
  font-weight: 500;
}

.highlight-y {
  background-color: rgba(250, 204, 21, 0.25) !important;
  font-weight: 500 !important;
}

.name-hover {
  display: inline-block;
  white-space: nowrap;
}

html, body {
  overflow-x: hidden;
}

.body-text {
  @apply text-xs md:text-xl leading-relaxed;
}
